* {
    font-family: Calibri, serif;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body {
    background-color: #eff5fc !important ;
}

/* Head Bar */
.header {
    width: 100%;
}
.navibar ul {

    width: 100%;
    list-style-type: none;
    overflow: hidden;
    background-color: #4bacc6;
    padding-left: 0;
    margin-bottom: 0;
}

.text-section h2 {
    padding: 3%;
    color: #4bacc6;
    font-size: 32px;
    font-weight: normal;
}

.text-section p {
    padding-left: 3%;
}

.footer {
    color: #525252;
    width: 100%;
    background-color: #cfcccc;
    padding: 16px 0 24px 1%;
    left: 0;
    bottom: 0;
}

.navibar li {
    float: left;
}

.navibar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    left: 10%;
}

.navibar li a:hover {
    background-color: #6ed6f8;
}

.navibar .active {
    background-color: #6ed6f8;
}

.logo {
    float: left;
    width: 100%;
    background-color: #4bacc6;
    padding: 6px 0 0 0;
}

.logo a {
    padding-left: 1%;
    color: white;
    font-size: 36px;
    text-decoration: none;
}

.nopad {
    padding: 0 !important;
    margin: 0 !important;
}

.ctr {
    text-align: center;
}

.sm-pic img{
    height: 100% !important;
    width: 100% !important;
}

.bgc-white {
    background-color: white;
}

.pos-rel {
    position: relative;
}

.full-wdh {
    width: 100%;
    height: 100%;
}

.grey-txt {
    color: #a2a2a2;
}

.Redbrd {
    border: 2px solid red;
}

.mrg-top {
    margin-top: 20px !important;
}
